<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express Demo</title>
    <script src="text/javascript" src ="../public/js"></script>



  </head>
  <body>

    <label for="txtOne">Enter Number One: </label>
    <input type="text" name="txtOne" value="" id="txtOne"/>
    <br/>
    <label for="txtTwo">Enter Number Two: </label>
    <input type="text" name="txtTwo" value="" id="txtTwo"/>
    <br/>
    <label for="txtThree">Answer: </label>
    <input type="text" name="txtThree" value="" id="txtThree"/>
    <br/>
    <button type="button" name="button" id="btnCalculate">Calculate</button>

  </body>
</html>
